$max-width: 960px;
$max-width: 1200px;

@mixin logo {
  font-size: 20px;
  font-weight: 900;
}

@mixin title {
  font-size: 72px;
  font-weight: 900;
}

@mixin title-2 {
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
}

@mixin title-3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;  
  font-style: italic;
}

@mixin subtitle {
  font-size: 24px;
  font-weight: 900;
  line-height: 36px;    
}

@mixin paragraph {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

@mixin _breakpoint($maxWidth) {
  @media (max-width: $maxWidth) {
    @content;
  }
}

@mixin mobile {
  @include _breakpoint(767px) {
    @content;
  }
}

@mixin small_mobile {
  @include _breakpoint(700px) {
    @content;
  }
}